/* src/index.css */
/* Import Tailwind's base, components, and utilities styles */
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira+Stencil+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable the pointer on the scrollbar */

body {
  margin: 0;
  
  font-family: 'saira', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* @apply font-saira; */
}
.italic-text {
  font-style: italic;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
